* {
	color: #777;
}

div {
	text-align: center;
	padding-top: 20px;
}

ul.list-group.col.align-self-center {
	margin: 0 auto;
	height: auto;
	padding: 10px 30px;
}

li.list-group-item {
	margin: 20px;
	border-radius: 5px;
	font-weight: bold;
}

li.list-group-item:hover {
	background-color: #eee;
}
